<%= bootstrap_form_for [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
